<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tileset Assembler</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>

<body>
    <section>
        <h2>Tileset Assembler</h2>
        <p>
            Your PT levels go slow due to complex tilesets?<br>
            Worry no more! Because with this tool you can make a full image of the room!<br>
            Submit the JSON files of a room and the PNG files of the respective tilesets and get an image of the room.<br>
            *it ignores the tiles on the secret layer.
        </p>
        <br>
        <form action="/make" method="POST" enctype="multipart/form-data">
            <label for="tilefiles">Files (.png, .json)</label>
            <br>
            <input type="file" title="tilefiles" name="tilefiles" multiple accept=".png,.json" />
            <br>
            <br>
            <input type="submit" />
        </form>
    </section>
    <hr>
    <section>
        <h2>Collision Hider</h2>
        <p>
            Got lots of visible collision in your level?<br>
            Worry no more! Because with this tool you can make them invisible!<br>
            Submit the JSON files of a room and get the new JSON of the room.
        </p>
        <br>
        <form action="/makecol" method="POST" enctype="multipart/form-data">
            <label for="colfiles">Files (.json)</label>
            <br>
            <input type="file" title="colfiles" name="colfiles" multiple accept=".json" />
            <br>
            <br>
            <input type="submit" />
        </form>
    </section>
</body>

</html>